header, footer {
    width: 100%;
    background-color: #ffab3f;
}

nav{

    justify-content: space-between;
    margin: 0 auto;
}
.main {
    
    
    flex-direction: row;
}
.wrapper {
    width: 80%;
}
.main-nav, nav, .main {

    display: flex;
}

.main-nav li{
    display: inline;
    padding: 0 30px 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    
    
}
.main {
    
    margin: 0 auto;
    align-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}


table {
    margin: 0 auto;
}
a {
    color: white;
    text-decoration: none;
}
a: link {
    color: white;
}
.logo {
    display: block;
}
input, select{
    border-radius: 5px;
    margin: 0 7.5px 15px 7.5px;
    
    height: 30px;
    
}
.pay, .bills, .incometable {
    width: 50%;
}
td {
     padding-top: 10px;
}
.incometable {
    display: flex;
}
input {
    width: 95%;
}
select, input[type=date] {
    width: 90%;
}
.pay select {
    width: 170px;
}
label {
    margin-left: 15px;
    padding-top: 15px;
}
h2 {
    text-align: center;
    margin-bottom: 5px;
}

table {
    width: 380px;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 10px;
}
button {
    
    align-self: center;
}
.incometable {
    height: 300px;
}

.main-footer {

    height: 50px;
    align-self: flex-end;
    
    
    
}
.main-footer p {
    text-align: center;
    font-size: .75em;
    color: white;
    margin: auto;
}
.incometable tr: nth-child(even) {
    background-color: gray;
}